In [1]:
%load_ext sql

# Example connection string
%sql mysql+mysqlconnector://root:mySQL%40123@localhost:3306/saktheesh_database

In [2]:
%%sql 
create database spotify_db;

 * mysql+mysqlconnector://root:***@localhost:3306/saktheesh_database
1 rows affected.

[]

In [3]:
%%sql
use spotify_db;
create Table IF NOT EXISTS spotify_tracks(
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(225),
    artist VARCHAR(225),
    album VARCHAR(225),
    popularity INT,
    duration_minutes FLOAT
)

 * mysql+mysqlconnector://root:***@localhost:3306/saktheesh_database
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql
select * from spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost:3306/saktheesh_database
10 rows affected.

[(1, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 65, 3.70333),
 (2, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 64, 3.70333),
 (3, 'Time is Running Out', 'Muse', 'Absolution', 8, 3.95065),
 (4, 'Uprising', 'Muse', 'The Resistance', 80, 5.08067),
 (5, 'Despacito', 'Luis Fonsi', 'VIDA', 83, 3.82267),
 (6, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 7, 3.70125),
 (7, 'Lover', 'Taylor Swift', 'Lover', 86, 3.68843),
 (8, 'Shape of You', 'Ed Sheeran', '÷ (Deluxe)', 90, 3.8952),
 (9, 'Every Breath You Take', 'The Police', 'Synchronicity (Remastered 2003)', 91, 4.232),
 (10, 'Prelude for Piano No. 11 in F-Sharp Minor', 'Eduard Abramyan', 'Abramyan: Preludes – Rachmaninoff: Sonata No. 2 in B-Flat Minor, Op. 36 – Babadjanyan: Capriccio, Improvisation, Folksong, Elegy, Poem', 26, 4.13822)]

In [6]:
%%sql
select track_name,artist,album,popularity
from spotify_tracks
order by popularity DESC
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost:3306/saktheesh_database
1 rows affected.

[('Every Breath You Take', 'The Police', 'Synchronicity (Remastered 2003)', 91)]

In [7]:
%%sql
select AVG(popularity) AS averagee_popularity
from spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost:3306/saktheesh_database
1 rows affected.

[(Decimal('60.0000'),)]

In [8]:
%%sql
select track_name,artist,duration_minutes
from spotify_tracks
where duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost:3306/saktheesh_database
3 rows affected.

[('Uprising', 'Muse', 5.08067),
 ('Every Breath You Take', 'The Police', 4.232),
 ('Prelude for Piano No. 11 in F-Sharp Minor', 'Eduard Abramyan', 4.13822)]

In [10]:
%%sql
SELECT 
    CASE 
        WHEN popularity >= 80 THEN 'Very Popular'
        WHEN popularity >= 50 THEN 'Popular'
        ELSE 'Less Popular'
    END AS popularity_range,
    COUNT(*) AS track_count
FROM spotify_tracks
GROUP BY popularity_range;

 * mysql+mysqlconnector://root:***@localhost:3306/saktheesh_database
3 rows affected.

[('Popular', 2), ('Less Popular', 3), ('Very Popular', 5)]